body {
	background-image: url("../img/purple-background.jpg");
	background-repeat: no-repeat;
	background-size: 3000px 2000px;
}

.container {
	align-content: center;
	padding-top: 8%;
}

.mx-auto {
	width: 350px;
	margin: 20px;
	background-color: #f7f7f7;
	opacity: 0.8;
	padding: 20px;
}

p {
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn {
	margin: 10px;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}